@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*
{
  box-sizing: border-box;
}

html
{
    font-size: 62.5%;
}

body
{
    font-size: 2rem;
    line-height: 2;

}



header
{
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    background-image: url(/img/bg-fff.png);
}
header img
{
    width: 250px;
    transition: transform 0.3s ease 0s;
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
}

nav
{
float: right;  
margin: 90px 250px 0 0;
}

a
{
    text-decoration: none;
    padding-right: 15px;
    color: white;
    font-family: "Roboto", sans-serif;
}

header a:hover {
	color: rgba(246, 36, 89,1);
}



main{
    background-image: url(img/bg-body2.png);
}

.classement{
    background-image: url(img/classement-l1.png);
}

@media screen and (max-width: 1024px) {
	header {
        text-align: center;
    }
    nav {
        display: block;
        margin: 0;
        float: none;
    }
    header img {
        display: block;
        margin: 0 auto;
    }   
}

 main{
  text-align: center;
  background-image: url(../img/bg-body2.png);
}

.classement img{
  width: 500px;
}

.actus img{
  width: 800px;
}

section{
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.competition img{
  width: 800px;
}

.partenaires article{
  background-color: white;
  width: 120%;
  margin-left: auto;
  margin-right: auto;
}

.partenaires article h1{
  font-size: 3em;
  font-weight: bold;
  font-family: 'Roboto';
  color: #C3C3C3;
  border-bottom: 2px solid #C3C3C3;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#jul{
  width: 250px;
}

#cochon{
  width: 200px;
}

#suze{
  width: 201px;
}
